## Clean column names, Train-Test split

In [ ]:
import pandas as pd
import re
import pipeline as p

%load_ext autoreload
%autoreload 2

from sklearn.model_selection import train_test_split

In [4]:
import util as u

In [2]:
def clean_col_names(col):
    col = re.sub('%','Pct',col)
    col = re.sub('1st','First', col)
    col = re.sub('3rd','Third', col)
    col = re.sub('4th','Fourth', col)
    return col

In [14]:
df = p.open_pkl('Data/df_for_model.pkl')
df.columns = [clean_col_names(x) for x in df.columns]
df['playoff'] = df['playoff'].apply(lambda x: 0 if pd.isna(x) else 1)

In [15]:
nadf = u.na_check(df)

In [16]:
nadf[nadf['Week'] != 1].head()

,neutral,playoff,elo1_pre,elo2_pre,elo_prob1,elo_prob2,score1,score2,elo_delta,point_diff,...,SacksO_SA2,Fumbles_SA2,Penalies_SA2,PenY_SA2,ThirdDConv_SA2,ThirdDAtt_SA2,FourthDAtt_SA2,PassCompPct_SA2,PassRating_SA2,TimePossMins_SA2
2686,0,0,1505.564971,1373.987153,0.756133,0.243867,29.0,7.0,14.038498,22.0,...,4.0,2.0,4.0,40.0,5.0,13.0,2.0,65.0,82.916667,29.433333
2694,0,0,1430.442797,1508.519331,0.481190,0.518810,17.0,19.0,-10.510358,-2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
p.pkl_this('Data/df_for_model_cleaned.pkl', df)

### Train-Test Split

In [20]:
y = df['point_diff']
X = df.drop(columns='point_diff')
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=12)
# train_df = X_train.join(y_train)
# test_df = X_test.join(y_test)

X_train.reset_index(inplace=True, drop=True)
X_test.reset_index(inplace=True, drop=True)
y_train.reset_index(inplace=True, drop=True)
y_test.reset_index(inplace=True, drop=True)

p.pkl_this('Data/X_train.pkl', X_train)
p.pkl_this('Data/y_train.pkl', y_train)
p.pkl_this('Data/X_test.pkl', X_test)
p.pkl_this('Data/y_test.pkl', y_test)