Found GB data. Need to develop workflow to iteratively grab other team's data.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

import re

from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import os

import matplotlib.pyplot as plt

import pickle

## Goal
Pull Elo data from dynamic graph on https://projects.fivethirtyeight.com/complete-history-of-the-nfl/#gb.

### JS source data

I found data behind graph by exploring 'Insecpt Page' tabs, per instructions on: https://onlinejournalismblog.com/2017/05/10/how-to-find-data-behind-chart-map-using-inspector/

Selenium & BS didn't work on below url, so just used Regex

In [2]:
'''
chromedriver = "/Users/kendra/ds/chromedriver" # path to the chromedriver executable
os.environ["webdriver.chrome.driver"] = chromedriver
driver = webdriver.Chrome(chromedriver)

url_data = 'https://projects.fivethirtyeight.com/complete-history-of-the-nfl/js/bundle.js?v=77c0dce50abab847428693938063b9db'
response = requests.get(url_data)
page = response.text

with open('elo_page_text.pkl', 'wb') as picklefile:
    pickle.dump(page, picklefile)
'''


with open('elo_page_text.pkl','rb') as picklefile:
    page = pickle.load(picklefile)

In [3]:
page[:500]

'!function t(e,n,y){function r(i,o){if(!n[i]){if(!e[i]){var a="function"==typeof require&&require;if(!o&&a)return a(i,!0);if(x)return x(i,!0);var s=new Error("Cannot find module \'"+i+"\'");throw s.code="MODULE_NOT_FOUND",s}var u=n[i]={exports:{}};e[i][0].call(u.exports,function(t){var n=e[i][1][t];return r(n?n:t)},u,u.exports,t,e,n,y)}return n[i].exports}for(var x="function"==typeof require&&require,i=0;i<y.length;i++)r(y[i]);return r}({1:[function(t,e,n){function y(t,e,n,y){return!1!==e&&null!=e&'

### Get list of team abbreviations

In [4]:
r2 = re.compile(r'({name:)')
itr2 = re.finditer(r2, page)
next_list = [[m.start(0), m.end(0)] for m in itr2]
next_list = next_list[4:]

r3 = re.compile(r'\"(.*?)\"')
team_abbrevs = [re.search(r3, page[n[0]:n[0]+20]).group(1) for n in next_list]

In [5]:
len(team_abbrevs)

53

In [19]:
team_abbrevs[-1]

'Hou'

### Pull out data for each team

In [72]:
master_df = pd.DataFrame()

In [73]:
err_log = []
for ta in team_abbrevs:
#     print(ta)
    try:
        df = pd.DataFrame(columns=['Year','Elo','Team'])
        re_str = '"' + ta + '"'
        re_str2 ="%r"%re_str
        r1 = re.compile(re_str2[1:-1])
        itr = re.finditer(r1, page)
        tm_list = [[m.start(0), m.end(0)] for m in itr]
        tm_text = page[tm_list[0][0]:]

        r2 = re.compile(r'({name:)')
        tm_end = re.search(r2, tm_text).start(0)
        tm_data = tm_text[11:tm_end-3].split('}')
        tm_data2 = [x.strip('{,').split(',') for x in tm_data][1:-1]
        tm_data3 = [[float(i[0].split(':')[1]), float(i[1].split(':')[1]), ta] for i in tm_data2]
        df = pd.DataFrame(tm_data3)
        master_df = pd.concat([master_df, df], ignore_index=True)
    except ValueError:
        print('Something went wrong for ' + ta)
        err_log.append(ta)
    except AttributeError:
        print ('Who the hell knows ' + ta)
#     xs, ys = list(zip(*tm_data3))

Who the hell knows Hou

In [76]:
master_df.columns = ['Year','Elo','Team']
master_df.sample(20)

          Year       Elo Team
5962  1991.227  1554.040  Den
3305  1961.882  1462.360  Pit
8379  1998.000  1509.508  Min
3350  1972.825  1649.770  Pit
2127  2001.636  1484.030  Nyg
9624  1989.000  1352.240   Tb
8531  1976.333  1531.660  Mia
1811  1939.000  1628.420  Nyg
3671  1958.429  1388.580  Phi
8003  1980.667  1666.810  Dal
3     1920.582  1533.460  Rii
7965  1972.556  1710.090  Dal
7270  2009.000  1425.410  Buf
2069  1992.143  1530.380  Nyg
9402  1987.238  1561.480  Cin
6826  1983.429  1553.880  Nyj
7336  1965.059  1499.780  Oak
1143  1926.071  1564.960   Gb
3567  2017.227  1558.410  Pit
3993  2017.591  1643.160  Phi

In [18]:
len(master_df['Team'].unique())

52

In [77]:
ta = 'Hou'
re_str = '"' + ta + '"'
re_str2 = "%r"%re_str

In [78]:
r1 = re.compile(re_str2[1:-1])
itr = re.finditer(r1, page)
tm_list = [[m.start(0), m.end(0)] for m in itr]

tm_text = page[tm_list[0][0]:]

r2 = re.compile(r'(function)')
tm_end = re.search(r2, tm_text).start(0)
tm_data = tm_text[11:tm_end-3].split('}')
tm_data2 = [x.strip('{,').split(',') for x in tm_data][:-4]

In [81]:
tm_data2[0]

[':[{x:2002', 'y:1300', 'p:"f"']

In [84]:
tm_data2[0][0] = tm_data2[0][0][3:]

In [86]:
tm_data2[0]

['x:2002', 'y:1300', 'p:"f"']

In [95]:
tm_data3 = [[float(i[0].split(':')[1]), float(i[1].split(':')[1]), ta] for i in tm_data2]
df = pd.DataFrame(tm_data3)
df.columns=['Year','Elo','Team']

In [96]:
df.head()

       Year      Elo Team
0  2002.000  1300.00  Hou
1  2002.048  1327.80  Hou
2  2002.524  1228.30  Hou
3  2002.667  1309.16  Hou
4  2002.810  1278.64  Hou

In [94]:
master_df

           Year       Elo Team
0      1920.231  1559.400  Rii
1      1920.308  1523.250  Rii
2      1920.462  1545.890  Rii
3      1920.582  1533.460  Rii
4      1920.615  1496.080  Rii
5      1920.769  1508.240  Rii
6      1921.000  1508.240  Rii
7      1921.242  1486.730  Rii
8      1921.538  1565.700  Rii
9      1921.615  1555.460  Rii
10     1922.000  1555.460  Rii
11     1922.182  1532.300  Rii
12     1922.636  1591.980  Rii
13     1922.727  1583.520  Rii
14     1923.000  1583.520  Rii
15     1923.000  1557.347  Rii
16     1923.273  1576.600  Rii
17     1924.000  1500.820  Rii
18     1924.400  1559.200  Rii
19     1924.500  1510.560  Rii
20     1924.800  1542.890  Rii
21     1924.900  1508.810  Rii
22     1925.000  1507.537  Rii
23     1925.071  1509.000  Rii
24     1925.143  1502.780  Rii
25     1925.286  1545.240  Rii
26     1925.500  1504.300  Rii
27     1925.755  1548.420  Rii
28     1925.786  1535.150  Rii
29     1920.615  1574.230  Day
...         ...       ...  ...
10350  2013.500  1564.220  Bal
10351  2013.688  1598.680  Bal
10352  2014.045  1506.570  Bal
10353  2014.182  1571.360  Bal
10354  2014.227  1553.610  Bal
10355  2014.318  1590.880  Bal
10356  2014.409  1551.440  Bal
10357  2014.812  1622.720  Bal
10358  2015.325  1489.040  Bal
10359  2015.364  1498.390  Bal
10360  2015.455  1478.750  Bal
10361  2015.552  1503.320  Bal
10362  2015.682  1449.680  Bal
10363  2015.727  1469.770  Bal
10364  2015.773  1460.750  Bal
10365  2016.000  1460.750  Bal
10366  2016.136  1516.610  Bal
10367  2016.318  1449.220  Bal
10368  2016.591  1519.640  Bal
10369  2016.773  1484.150  Bal
10370  2017.000  1484.150  Bal
10371  2017.091  1539.450  Bal
10372  2017.182  1459.980  Bal
10373  2017.227  1498.090  Bal
10374  2017.318  1462.090  Bal
10375  2017.591  1567.300  Bal
10376  2017.636  1563.580  Bal
10377  2017.721  1577.850  Bal
10378  2018.000  1535.270  Bal
10379  2018.182  1586.730  Bal

[10380 rows x 3 columns]

In [97]:
master_df = pd.concat([master_df, df], ignore_index=True)

In [99]:
master_df.sample(10)

           Year       Elo Team
5256   1970.452  1648.870  Ind
3226   1945.385  1352.750  Pit
8105   2001.636  1417.030  Dal
121    1928.462  1557.130  Chi
7283   2011.182  1504.760  Buf
6135   1965.000  1513.224   Sd
6050   2008.136  1528.430  Den
10468  2017.364  1488.640  Hou
3783   1978.095  1436.590  Phi
8637   1996.545  1537.390  Mia

In [100]:
with open('elo_df', 'wb') as picklefile:
    pickle.dump(master_df, picklefile)

In [ ]:
plt.figure(figsize=(15,8))
plt.plot(xs,ys);